<!-- <h2>Testify:</h2> -->
	<div class="teal">	
	<%= form_for @track do |f| %>
			<%= f.label :url %>
			<br> 
			<%= f.text_area :url %>
<br>
			<%= f.submit %>
		<% end %>
	</div>
	<div class="index">
	<table>
		<% @tracks.each do |track| %>
			<tr>
				<td><%= youtube_embed (track.url) %><br>
          <input type="checkbox" class="track-checkbox" data-id="<%= track.id %>">
					<%= link_to 'Show', track_path(track), style: 'url-decoration: none; color: #006666;' %>
					<%= link_to 'Edit', edit_track_path(track), style: 'url-decoration: none; color: #006666;' %>
					<% if current_user == track.user %>
					<%= link_to 'Delete', track_path(track),
							method: :delete,
							data: {confirm: 'Are you sure?'}, style: 'url-decoration: none; color: #006666;' %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>	
</div>
<br>
<!-- <div class="teal">
	<% @tracks.each do |track| %>
	<%= youtube_embed (track.url) %>
	<% end %> -->
<%= link_to 'Save As Mix', '#', id: "save-mix", style: 'color: #00CC99; background-color: #006666; url-decoration: none; font-size: 25px; padding: 5px; border-radius: 5px;' %>
</div>