<h2>Testify:</h2>
	<div class="teal">	
	<%= form_for @mix do |f| %>
			<!-- 	<%= f.label :title %>
			<br>
			<%= f.text_field :title %>
			</p>
			<p> -->
<!-- 			<%= f.label :url %>
			<br> -->
			<%= f.text_area :text %>
<br>
			<%= f.submit %>
		<% end %>
	</div>
	<!-- 	<%= link_to 'New Mix', new_mix_path %> -->
	<!-- 	<%= link_to 'New Track', new_track_path %>
		<%= link_to 'Track Index', tracks_path %> -->
<!-- 	<br>
	<br> -->
	<div class="index">
	<table>
		<!-- <tr>
			<th>Title</th>
			<th>Description</th>
			<th>User</th>
			<th colspan="2"></th>
		</tr> -->
		<% @mixes.each do |mix| %>
			<tr>
				<td><%= youtube_embed (mix.text) %><br>
					<%= link_to 'Show', mix_path(mix) %>
				<%= link_to 'Edit', edit_mix_path(mix) %>
				
					<% if current_user == mix.user %>
					<%= link_to 'Delete', mix_path(mix),
							method: :delete,
							data: {confirm: 'Are you sure?'} %>
					<% end %>
				</td>
				<!-- <td><%= mix.title %></td>
				<td><%= mix.text %></td>
				<td><%= mix.user.email %></td> -->
			</tr>
		<% end %>
	</table>	
</div>
<br>
<!-- <div class="teal">
	<% @mixes.each do |mix| %>
	<%= youtube_embed (mix.text) %>
	<% end %> -->
</div>