<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/mixtape_bootstrap.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>BDM</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <link href='https://fonts.googleapis.com/css?family=Orbitron:400,500' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container">
	  	<div class="header">
	  		<div class="sign_in">
					<% if current_user %>
					  Signed in as: 
					  <%= current_user.email %>
						<%= link_to 'Sign Out', 
						destroy_user_session_path,method: :delete, style: 'text-decoration: none; color:  #FFCC66;'   %>
						<%= link_to 'Profile', users_path, style: 'text-decoration: none; color:  #FFCC66;' %>
					<% end %>
		</div>
		<div id="back">
			<%= link_to 'Back', :back, style: 'text-decoration: none; color:  #006666;' %>
		</div>
		<br><br>
		<%= link_to "we reminisce over you", root_path, style: 'font-size: 60px; font-family: orbitron; text-decoration: none; color: #000000;' %>
		<p class="notice">
			<%= notice %>
		</p>
	  <p class="alert">
	  	<%= alert %>
	  </p>
  	</div>
			<%= yield %>
		</div>
		<br>
	</body>
</html>
